/* SF Pro Display */
@font-face {
  font-family: 'SF Pro Display';
  src: url(./fonts/SF-Pro-Display-Thin.otf);
  font-weight: 100;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url(./fonts/SF-Pro-Display-Ultralight.otf);
  font-weight: 200;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url(./fonts/SF-Pro-Display-Light.otf);
  font-weight: 300;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url(./fonts/SF-Pro-Display-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url(./fonts/SF-Pro-Display-Medium.otf);
  font-weight: 500;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url(./fonts/SF-Pro-Display-Semibold.otf);
  font-weight: 600;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url(./fonts/SF-Pro-Display-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url(./fonts/SF-Pro-Display-Black.otf);
  font-weight: 800;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url(./fonts/SF-Pro-Display-Heavy.otf);
  font-weight: 900;
}

/* SF Pro Display Italic */
@font-face {
  font-family: 'SF Pro Display Italic';
  src: url(./fonts/SF-Pro-Display-ThinItalic.otf);
  font-weight: 100;
}
@font-face {
  font-family: 'SF Pro Display Italic';
  src: url(./fonts/SF-Pro-Display-UltralightItalic.otf);
  font-weight: 200;
}
@font-face {
  font-family: 'SF Pro Display Italic';
  src: url(./fonts/SF-Pro-Display-LightItalic.otf);
  font-weight: 300;
}
@font-face {
  font-family: 'SF Pro Display Italic';
  src: url(./fonts/SF-Pro-Display-RegularItalic.otf);
  font-weight: 400;
}
@font-face {
  font-family: 'SF Pro Display Italic';
  src: url(./fonts/SF-Pro-Display-MediumItalic.otf);
  font-weight: 500;
}
@font-face {
  font-family: 'SF Pro Display Italic';
  src: url(./fonts/SF-Pro-Display-SemiboldItalic.otf);
  font-weight: 600;
}
@font-face {
  font-family: 'SF Pro Display Italic';
  src: url(./fonts/SF-Pro-Display-BoldItalic.otf);
  font-weight: 700;
}
@font-face {
  font-family: 'SF Pro Display Italic';
  src: url(./fonts/SF-Pro-Display-BlackItalic.otf);
  font-weight: 800;
}
@font-face {
  font-family: 'SF Pro Display Italic';
  src: url(./fonts/SF-Pro-Display-HeavyItalic.otf);
  font-weight: 900;
}

body {
  background-color: #f8f8f8 !important;
  color: #242424;
  margin: 0;
  padding: 0;
  font-family: 'SF Pro Display', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
